.vscode
.project
.classpath
.settings/
.DS_Store
bin/
*.class
.metadata/
.recommenders/
*.pdf
*.blg
*.aux
*.log
*.synctex.gz
*.tmproj
*.thm
*.ps
*.dvi
*.out
*.brf
*.DS_Store
*.lb
*.toc
*.bbl
*.lot
*.lof
*.bcf
*.xml
*~$*
*.fls
*.fdb_latexmk
*.synctex(busy)
